@import url('./normalization.css');
@import url('./variables.css');

.App header{
    height:100vh;
}

.header_changeTheme {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height: 100vh;
    width: 100%;
    background-color: #ffff;
    z-index: 1999;

}
#loader {
    position:fixed;
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100vh;
    z-index: 10000;
    display:flex;
    justify-content:center;
    align-items:center;
}
#loader div {
    background-color: var(--bg-color);
    width: 20px;
    height: 20px;
    margin: 0 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: loading;
    animation-duration: .7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#loader .two {
    animation-delay: .3s;
}

#loader .three {
    animation-delay: .4s;
}


@keyframes loading {
    to {
        opacity: .2;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
}