@import url('./variables.css');
.form {
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.form form button {
 background-color:var(--bg-color);
 color:#fff;
}
@media (max-width:992px) {
    .form {
           height: 100vh;
        }
}