@import url('./variables.css');
aside {
    position: fixed;
    left: 10px;
    top: 0;
    height:100vh;
     /* padding: 100px 0px;
      */
     display:flex;
     flex-direction: column;
     justify-content:space-around;
     align-items: center;
     z-index: 5000;
}
aside h5 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
aside .links {
        display: flex;
        justify-content: center;
        align-items: center;

}
aside .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
aside .links ul li {
    padding: 0px;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
aside .links ul li:hover{
   animation: over .5s linear 1 ;
   -webkit-animation: over .5s linear 1 ;
}
@keyframes over {
    0% {
        border: 0px solid var( --bg-color)
        }
        
    100%{
           border-bottom: 2px solid var(--bg-color);
            border-left: 2px solid var(--bg-color);
            border-top: 2px solid var(--bg-color);
            border-right: 2px solid var(--bg-color);
        }

}
@media (max-width: 992px) {
aside {
 
        display: none;

    }

}