@import url('./variables.css');
@import url('./revealAnimation.css');
.WorksPosts{
position: relative;
/* overflow: hidden; */
}

.WorksPosts  h1 {
    z-index: 0;
 }
/* shapes */
.WorksPosts .circle-shape {
    position: fixed;
    opacity: .3;
    top: 0%;
    right: 0%;
    width: 100px;
    height: 100px;
    background-color: var(--bg-style1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}
.WorksPosts .circle-shape1 {
    position: fixed;
    opacity: .3;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 100px;
    background-color: var(--bg-style1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}
/* shapes */
/* posts */
.WorksPosts .posts{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    
}
/* posts */
/* post */
.WorksPosts .posts .post {
 overflow: hidden;
 position: relative;
 width: 350px;
 height: 500px;
transition-duration: 500ms;
}
.WorksPosts .posts .post::before {
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--bg-color);
 z-index: 100;
 display: none;

}
/* action */
.WorksPosts .posts .post:hover::before {
    display: block;

}
.WorksPosts .post:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    
}
.WorksPosts .posts .post .post-info .info-header p {
    display: none;
}
.WorksPosts .posts .post:hover .post-info .info-header p {
    display: block;
    animation: fadeOut .4s ease-in 1;
    -webkit-animation: fadeOut .4s ease-in 1;
}
.WorksPosts .posts .post .cover{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.22);
    z-index: 99;
}
.WorksPosts .posts .post img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}
.WorksPosts .posts .post  .post-info {
    padding:20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
.WorksPosts .posts .post .post-info .info-header{
    z-index: 999;
    color: #fff;
}
.WorksPosts .posts .post .post-info .info-footer  {
    z-index: 999;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
/* post */